<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Stylesheets here -->
	<link rel="stylesheet" href={{style}} type="text/css">
</head>
<body>
	{{{body}}}
</body>
</html>