<!-- Website top container -->
<div class="container_head">
    <h1>Portfolio Project: CS290 Website</h1>
    <h3>Designed by Terence</h3>
</div>

<!-- Top navigation bar -->
<!-- built on unordered list where items displayed inline with some hover over and active icon styling -->
<ul class= "navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/gaming">Gaming</a></li>
    <li><a href="/jalen">Art</a></li>
    <li class="feedback"><a class="active" href="/feedback">Feedback</a></li>
</ul>


<!-- Feedback text body -->
<div class="feedback_text">
    <h1>Please provide your feedback:</h1>
    <h3>Thank you for visiting my first webpage. Any feedback you may have would be highly valuable for my personal development!</h3>
</div>

<!-- Feedback form -->
<div class="feedback_form_wrapper">
    <form id="feedback_form" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
        <fieldset>
            <legend>Site Feedback Form!</legend>
            <p><strong>Instructions:</strong> Please provide your thoughts and feedback below</p>
            
            <fieldset>
                <label>Please enter your name or unique identifier for results tracking:
                    <input type="text" name="name" size="30" maxlength="100">
                </label>
            </fieldset>
            
            <fieldset class="site_usability">
                <p>From a scale of 1-5 with 1 being the worst and 5 being the best, how would you rate this websites navigation and usability?
                    <br />
                    <label>
                        <input type="radio" name="usability" value="1">1</label>
                    <br />
                    <label>
                        <input type="radio" name="usability" value="2">2</label>
                    <br />
                    <label>
                        <input type="radio" name="usability" value="3">3</label>
                    <br />
                    <label>
                        <input type="radio" name="usability" value="4">4</label>
                    <br />
                    <label>
                        <input type="radio" name="usability" value="5">5</label>
                </p>
            </fieldset>

            <fieldset class="visuals">
                <p>From a scale of 1-5 with 1 being the worst and 5 being the best, how would you rate this websites visual appeal and design?
                    <br />
                    <label>
                        <input type="radio" name="visuals" value="1">1</label>
                    <br />
                    <label>
                        <input type="radio" name="visuals" value="2">2</label>
                    <br />
                    <label>
                        <input type="radio" name="visuals" value="3">3</label>
                    <br />
                    <label>
                        <input type="radio" name="visuals" value="4">4</label>
                    <br />
                    <label>
                        <input type="radio" name="visuals" value="5">5</label>
                </p>
            </fieldset>
            
            <fieldset class="favorite_page">
                <p>Which page was your favorite?
                    <br />
                    <label>
                        <input type="radio" name="favorite_page" value="index">Home Page</label>
                    <br />
                    <label>
                        <input type="radio" name="favorite_page" value="travel">Travel</label>
                    <br />
                    <label>
                        <input type="radio" name="favorite_page" value="gaming">Gaming</label>
                    <br />
                    <label>
                        <input type="radio" name="favorite_page" value="jalens">Art</label>
                    <br />
                    <label>
                        <input type="radio" name="favorite_page" value="feedback">Feedback</label>
                </p>
            </fieldset>

            <fieldset class="least_favorite_page">
                <p>Which page was your least favorite?
                    <br />
                    <label>
                        <input type="radio" name="least_favorite_page" value="index">Home Page</label>
                    <br />
                    <label>
                        <input type="radio" name="least_favorite_page" value="travel">Travel</label>
                    <br />
                    <label>
                        <input type="radio" name="least_favorite_page" value="gaming">Gaming</label>
                    <br />
                    <label>
                        <input type="radio" name="least_favorite_page" value="jalens">Art</label>
                    <br />
                    <label>
                        <input type="radio" name="least_favorite_page" value="feedback">Feedback</label>
                </p>
            </fieldset>
            
            
            <label>Additional Comments?</label>
            <br>
            <textarea name = "additionalComments"
                form = "feedback_form"
                rows = "10"
                cols = "100">
                Enter your text here!
            </textarea>
            <br>
            <input type="submit" value="Submit Feedback">
        </fieldset>
    </form>
</div>

<!-- JS scripts here -->
<script src={{javascript}}></script>
