<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <!-- Stylesheets here -->
        <link rel="stylesheet" href={{style}} type="text/css">
    </head>

    <body>
       
        <!-- Website top container -->
        <div class="container_head">
            <h1>Portfolio Project: CS290 Website</h1>
            <h3>Designed by Terence</h3>
        </div>
        
        <!-- Top navigation bar -->
        <!-- built on unordered list where items displayed inline with some hover over and active icon styling -->
        <ul class= "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="/gaming">Gaming</a></li>
            <li><a href="jalen.html">Art</a></li>
            <li class="feedback"><a class="active" href="/feedback">Feedback</a></li>
        </ul>


        <!-- Feedback text body -->
        <div class="feedback_text">
            <h1>Please provide your feedback:</h1>
            <h3>Thank you for visiting my first webpage. Any feedback you may have would be highly valuable for my personal development!</h3>
        </div>

        <!-- Feedback form -->


        <!-- JS scripts here -->
        <script src={{javascript}}></script>
    </body>
</html>